<%- include ('partials/header') %>
<main>
  <div class="top-wrapper">
    <a href="/signup" class="waves-effect waves-light btn">新規登録</a>
    <a href="/login" class="waves-effect waves-light btn">ログイン</a>
  </div>
</main>
<%- include ('partials/footer') %>
