<%- include ('../partials/header') %>
<main>
  <div class="error404-wrapper">
    <p>
      お探しのページは一時的にアクセスができない状況にあるか、移動もしくは削除された可能性があります。
    </p>
    <a href="/">トップページに戻る</a>
  </div>
</main>
<%- include ('../partials/footer') %>
