<%- include ('../partials/header') %>
<main>
  <div class="resetPassword-wrapper">
    <p>メールアドレスを入力してください</p>
    <form class="col s12" action="/users/resetPassword" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input
            id="email"
            type="email"
            class="validate"
            name="email"
            required="required"
            minlength="1"
          />
          <label for="email">Eメールアドレス</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">
        パスワードをリセット
      </button>
    </form>
  </div>
</main>
<%- include ('../partials/footer') %>
