<%- include ('../partials/header') %>
<main>
  <div class="showMailConfirmation-wrapper">
    <p>
      XXX様 <br />
      下記のアドレスにメールの送信が完了しました。
    </p>
    <p>メールにしたがって、XX分以内にパスワードを設定してください。</p>
    <p>メールアドレス</p>
    <p>
      メールが届かない場合には、
      メールボックスをご確認いただくか、迷惑メール設定を、上記メールアドレスから届くように設定しなおしてから、
      再度ご登録ください。
    </p>
  </div>
</main>
<%- include ('../partials/footer') %>
